.orders-container {
  position: relative;
  left: 1%;
  width: 100%;
  overflow: auto;
  display: flex;
}

.order-card {
  width: 35rem;
  color:#000;
  margin-left: 3%;
}


.order-status {
  background: #dc3545;
  font: 700 4rem Nunito;
}