:root{
    --color-background: #F0F0F7;
    --color-primary-lighter: #c1c1c142;
    --color-primary-light: #ffffff;
    --color-primary: #141414;
    --color-secundary: #ffd600;
    --color-secundary-dark: #dab500;
    --color-title-in-primary: #FFFFFF;
    --color-text-in-primary: #c7c7c7;
    --color-text-title: #000000;
    --color-text-danger: #ec1818;
    --color-box-base: #FFFFFF;
    
    font-size: 35%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root{
    min-height: 100%;
}

body{
    background: var(--color-primary);
}

#root{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

body, input, button, textarea{
    font: 400 1.9rem Ubuntu;
    
}


.container{
    width: 90vw;
    max-width: 700px;
}

#root {
    min-height: calc(100vh - var(--bodyPaddingTop));
    display: flex;
    flex-direction: column;
}

@media (min-width: 700px){
    :root{
        font-size: 40%;
    }
}

::-webkit-scrollbar {
    width: .6vw;
    height: .6vh;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-secundary);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-secundary-dark);
}

::-webkit-scrollbar-track {
    background: var(--color-background);
}