footer {
    background: #000;
    color: var(--color-text-in-primary);

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 28rem;

    border-top: 2px solid var(--color-secundary);

    position: relative;
    top: 215%;
    
    font: 400 1.9rem Nunito;
    text-align: center;
}
footer .footer-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 36rem;
    height: 20rem;
}

.footer-content span {
    width: 25px;
    height: 30px;
    margin-top: 3px;
    margin-bottom: 3px;
}
.footer-content span img {
    width: 100%;
    height: 100%;
}

.footer-content .footer-links {
    width: 50%;
    height: 20px;
    margin-top: 5px;

    display: flex;
    justify-content: space-between;
}

.footer-content .footer-links a {
    width: 20px;
    height: 25px;
}

.footer-content .footer-links a img {
    width: 100%;
    height: 100%;
}

@media(min-width: 1000px){
    footer{
        position: absolute;
        top: 350%;
    }
}